body {
    background-color: #000000;
}

.command {
    color:#00ff00;
    font-family: 'Lucida Console', Monaco, monospace;
    font-size: 15px;
}

.container{
    background-color: #000000;
    max-width: 100%;
    display: inline-block;
    font-family: "arial";
    font-size: 24px;
  }
  
.main {
  background-color: #000000;
  max-width: 100%;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 100%;
  overflow: scroll;
}

.background-image{
  position: fixed;
  max-width: 100%;
  height: 100%;
  left:0;
  right:0;
  top:0;
  background-blend-mode: saturation;
  flex-direction: column;
}

.gradient {
  width: 100%;
  height: 5%;
  position: relative;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(0,0,0,1) 100%), url('./img/bg_main.gif');
  filter: hue-rotate(125deg);
  opacity: 1;
  bottom:0;
}

  .typed {
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing;
    animation-duration: 2s;
    animation-timing-function: steps(20, end);
    animation-fill-mode: forwards;
    color:#00ff00;
    font-family: 'Lucida Console', Monaco, monospace;
    font-size: 15px;
  }

  .paused {
    animation-play-state: paused;
  }
    
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  } 



.command1 {
    color:#00ff00;
    font-family: 'Lucida Console', Monaco, monospace;
    font-size: 15px;
}
.command2 {
    color:#00ff00;
    font-family: 'Lucida Console', Monaco, monospace;
    font-size: 15px;
}
.command3 {
    color:#00ff00;
    font-family: 'Lucida Console', Monaco, monospace;
    font-size: 15px;
}
.commandblock {
    color:#00ff00;
    font-family: 'Lucida Console', Monaco, monospace;
    font-size: 15px;
}

.py-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: left;
  color: rgb(255, 255, 255);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 1000ms !important;
  visibility: visible !important;
  color: hidden !important;
  opacity: 0 !important;
}

#eue {
  margin-top: 4%;
  letter-spacing: 8px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
}

#imgeue {
    
  filter: hue-rotate(125deg);
}

.cheader {
  color:#00ff00;
    font-family: 'Lucida Console', Monaco, monospace;
    font-size: 30px;
}

#background-div {
  background-image: './img/bg_main.gif';
}